.card-hover:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15) !important;
    transition: 0.5s !important;
}

.td-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.menu-card {
    text-decoration: none !important;
    color: white !important;
}
